<p>todo works!</p>
<h3>Loaded Todo Data:</h3>
@if (todoData) {
  <pre>{{ todoData }}</pre>
}

<h3>Create new todo</h3>
<form
  [formGroup]="createForm"
  (ngSubmit)="onSubmitCreateTodo()"
  class="d-flex flex-column mb-5"
>
  <mat-form-field>
    <mat-label>username</mat-label>
    <input 
      type="text"
      matInput
      formControlName="username"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>To Do</mat-label>
    <input 
      type="text"
      matInput
      formControlName="todo"
    />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    class="mt-2"
    type="submit"
    [disabled]="createForm.invalid"
  >submit</button>
</form>

<!-- για την εφαρμογή του view by id -->
<h3>Alter todo by id</h3>
<form
  [formGroup]="idForm"
  (ngSubmit)="onSubmitViewById()"
  class="d-flex flex-column"
>
  <mat-form-field>
    <mat-label>display by id</mat-label>
    <input type="text" matInput formControlName="_id"/>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    class="mt-2"
    type="submit"
  >see by id</button>

  <!-- έχουμε ήδη ενα type submit btn για αυτό (click) -->
  <button
    mat-flat-button
    color="warn"
    class="mt-2"
    type="button"
    (click)="onSubmintDeleteById()"
  >delete by id</button>

  <button
    mat-flat-button
    color="accent"
    class="mt-2"
    type="button"
    (click)="toggleIsToChange()"
  >change by id</button>
</form>


<!-- θέλει Import MatCardModule -->
<mat-card *ngIf="todoById">
  <mat-card-header>
    <mat-card-title>
      Πληροφορίες για το todo με id: {{todoById!._id}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>username: {{ todoById!.username }}</p>
    <p>todo: {{todoById!.todo}}</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isToChange">
  <mat-card-header>
    change To Do
  </mat-card-header>
  <form
    [formGroup]="changeForm"
    (ngSubmit)="onSubmitChangeTodo()"
    class="d-flex flex-column mb-5"
  >
    <mat-form-field>
      <mat-label>username</mat-label>
      <input 
        type="text"
        matInput
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>To Do</mat-label>
      <input 
        type="text"
        matInput
        formControlName="todo"
      />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="mt-2"
      type="submit"
      [disabled]="changeForm.invalid"
    >submit</button>
  </form>
</mat-card>
